@model IEnumerable<MyPoezd.Models.ViewModels.WagonsView>

<form method="post" asp-controller="Home" asp-action="WagonsList">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-secondary pl-3">Выберите вагон:</h2>
        </div>
        <div class="row">
            <div class="col-12">

                <style>
                    .vl {
                        border-left: 1px solid grey;
                        height: 100px;
                        width: 10px;
                        position: absolute;
                        left: 60%;
                        margin-left: -3px;
                        top: 10px;
                    }
                </style>

                @{
                    foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="col-2" style="font-weight: bold; font-size: 15px">
                                    <span>Поезд: @item.TrainName</span>
                                </div>
                                <div class="row col-12">
                                <div class="col-2" style="font-weight: bold; font-size: 20px">
                                        <span> Номер вагона: @item.WagonName </span>
                                </div>
                                <div class="col-2" style="font-weight: bold; font-size: 15px">
                                        <span> Тип вагона: @item.WagonTypeName </span>
                                </div>
                                    <div class="col-2" style="font-weight: bold; font-size: 15px">
                                        <span> Кол-во мест: @item.CountOfPlaces </span>
                                    </div>
                                </div>
                                <div class="col-2" style="font-weight: bold; font-size: 20px">
                                    <a target="_blank" asp-controller="Home" asp-action="Places" asp-route-routeId="@item.RouteId" asp-route-count="@item.CountOfPlaces" asp-route-category="@item.WagonTypeName" asp-route-trainId="@item.TrainId" asp-route-wagonId="@item.WagonId" asp-route-price="@item.Price" style="color:#97a4e5">  Цена: @item.Price </a>
                                </div>
                                <div class="row col-12">
                                    <div class="col-2" style="font-weight: bold;color:#c8c8c8; font-size: 12px">@item.DepartureCity -> @item.ArrivalCity </div>
                                </div>

                            </div>
                        </div>
                        <br />
                    }
                }


            </div>
        </div>
    </div>
</form>